body {
  background-color: #282828;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.create-post{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 20px;
  margin-right: 20px;
}

.postContainer {
  display: flex;
  padding: 20px;
  background: #00b8c9;
  margin: 20px;
  border: .4vh solid #00b8c9;
  border-radius: 3vh;  
  height: 130px;
  width: 300px;
  filter: drop-shadow(-3 -3);
}

.postImg{
  height: 100%;
  width: 50%;
  margin-right: 2px;
  margin-top: 2px;
}

.postMsgs {
  inline-size: 165px;
  font-size: 18px;
  margin-top: 1.5px;
  overflow-wrap: break-word;
}

.ud {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.ud form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ud form button {
  border: none;
  padding: 0;
  background: none;
}

.ud form button img {
  width: 30px;
}

.ud form button.downvote img {
  padding-top: 10px;
}


.ud p {
  font-size: 2rem;
  margin: 0;
}

.container {
  box-shadow: -1px 1px 5px #000000;
  border: 0.2rem solid #5D5C61;
  border-radius: 3vh;
  background-color: #00b8c9;
  position: absolute;
  resize: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Droid Sans', sans-serif; 
}

.container textarea[name="msg"] {
  width: 92%;
  position: relative;
  resize: none;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #00b8c9;
}


.container input[type="file"] {
  position: relative;
  resize: relative;
  bottom: 0;
  left: 5%;
}

.container input[type="submit"] {
  position: relative;
  resize: relative;
  bottom: 0;
  right: 5%;
}

.container .close-button{
  position: relative;  
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 5px;
  left: 87%;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

